<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yczc.ssm.mapper.SuccessMapper">
	<insert id="addSuccess" parameterType="success" >
		insert into success values(#{id},#{title},#{picture},#{introduction},#{time},#{author},0,#{priority},#{figure})
	</insert>
	
	<delete id="deleteSuccess" parameterType="string">
		delete from success where id = #{value}
	</delete>
	
	<update id="updateSuccess" parameterType="success">
		update success set title=#{title},picture=#{picture},introduction=#{introduction},author=#{author},priority=#{priority},figure=#{figure} where id=#{id}
	</update>
		
	<update id="updateSuccessView" parameterType="string">
		update success set view = view+1  where id=#{id}
	</update>
	
	<select id="findAllSuccess"  resultType="success">
		select * from success order by priority desc
	</select>
	<select id="findSuccessById" parameterType="string" resultType="success">
		select * from success where id = #{value} 
	</select>	
	
	<select id="findSuccessByFigure"  resultType="success">
		select * from success where figure is not null 
	</select>
	
	<select id="count" resultType="int">
		select count(*) from success
	</select>
</mapper>
