<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yczc.ssm.mapper.FigureMapper">
	
	<select id="findAllFigure"  resultType="figure">
		select * from figure
	</select>
	
	<update id="updateFigure" parameterType="figure">
		update figure set img = #{img} where id =#{id}
	</update>
	
</mapper>
