<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yczc.ssm.mapper.NoticeMapper">
	<insert id="addNotice" parameterType="notice" >
		insert into notice values(#{id},#{title},#{priority},#{videourl},#{introduce})
	</insert>
	
	<delete id="deleteNotice" parameterType="string">
		delete from notice where id = #{value}
	</delete>
	
	<update id="updateNotice" parameterType="notice">
		update notice set priority=#{priority},introduce=#{introduce},videourl=#{videourl},title=#{title} where id=#{id}
	</update>
		
	
	<select id="getNotice"  resultType="notice" parameterType="int"  >
		select * from notice order by priority desc limit 0,#{value}
	</select>
	<select id="findAllNotice"  resultType="notice">
		select * from notice order by priority desc
	</select>
	<select id="findNoticeById" parameterType="string" resultType="notice">
		select * from notice where id = #{value} 
	</select>	
	
	
	<select id="count" resultType="int">
		select count(*) from notice
	</select>
</mapper>

